@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.625rem;
	--background: hsl(220 23.08% 94.90%);
	--foreground: hsl(234 16.02% 35.49%);
	--card: hsl(220 23.08% 94.90%);
	--card-foreground: hsl(234 16.02% 35.49%);
	--popover: hsl(220 23.08% 94.90%);
	--popover-foreground: hsl(234 16.02% 35.49%);
	--primary: hsl(220 91.49% 53.92%);
	--primary-foreground: hsl(220 23.08% 94.90%);
	--secondary: hsl(223 15.91% 82.75%);
	--secondary-foreground: hsl(234 16.02% 35.49%);
	--muted: hsl(223 15.91% 82.75%);
	--muted-foreground: hsl(233 12.80% 41.37%);
	--accent: hsl(223 15.91% 82.75%);
	--accent-foreground: hsl(234 16.02% 35.49%);
	--destructive: hsl(347 86.67% 44.12%);
	--destructive-foreground: hsl(220 23.08% 94.90%);
	--border: hsl(225 13.56% 76.86%);
	--input: hsl(225 13.56% 76.86%);
	--ring: hsl(234 16.02% 35.49%);
	--sidebar: hsl(218 25.10% 93.73%);
	--sidebar-foreground: hsl(234 16.02% 35.49%);
	--sidebar-primary: hsl(220 91.49% 53.92%);
	--sidebar-primary-foreground: hsl(220 23.08% 94.90%);
	--sidebar-accent: hsl(220 23.08% 94.90%);
	--sidebar-accent-foreground: hsl(234 16.02% 35.49%);
	--sidebar-border: hsl(225 13.56% 76.86%);
	--sidebar-ring: hsl(225 13.56% 76.86%);
}

.dark {
	--background: hsl(240 21.05% 14.90%);
	--foreground: hsl(226 63.93% 88.04%);
	--card: hsl(240 21.05% 14.90%);
	--card-foreground: hsl(226 63.93% 88.04%);
	--popover: hsl(240 21.05% 14.90%);
	--popover-foreground: hsl(226 63.93% 88.04%);
	--primary: hsl(217 91.87% 75.88%);
	--primary-foreground: hsl(240 21.05% 14.90%);
	--secondary: hsl(237 16.24% 22.94%);
	--secondary-foreground: hsl(226 63.93% 88.04%);
	--muted: hsl(237 16.24% 22.94%);
	--muted-foreground: hsl(227 35.29% 80.00%);
	--accent: hsl(237 16.24% 22.94%);
	--accent-foreground: hsl(226 63.93% 88.04%);
	--destructive: hsl(343 81.25% 74.90%);
	--destructive-foreground: hsl(240 21.05% 14.90%);
	--border: hsl(234 13.21% 31.18%);
	--input: hsl(234 13.21% 31.18%);
	--ring: hsl(226 63.93% 88.04%);
	--chart-1: hsl(329 21.57% 37.25%);
	--chart-2: hsl(188 18.82% 37.25%);
	--chart-3: hsl(221 27.45% 39.61%);
	--chart-4: hsl(30 9.41% 42.35%);
	--chart-5: hsl(139 12.94% 38.04%);
	--sidebar: hsl(240 21.18% 14.12%);
	--sidebar-foreground: hsl(226 63.93% 88.04%);
	--sidebar-primary: hsl(217 91.87% 75.88%);
	--sidebar-primary-foreground: hsl(240 21.05% 14.90%);
	--sidebar-accent: hsl(240 21.05% 14.90%);
	--sidebar-accent-foreground: hsl(226 63.93% 88.04%);
	--sidebar-border: hsl(234 13.21% 31.18%);
	--sidebar-ring: hsl(234 13.21% 31.18%);
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
